.header{
  /* margin-top:20px; */
  width: 99%;
  height: 50px;
  background-color: rgb(225, 218, 231);
  padding:5px;
}
.header1{
    /* margin-top:20px; */
    width:99%;
    height: 130px;
    background-color:#FF0000;
    padding:5px;
}
  .header2{
    /* margin-top:-20px; */
    width: 99%;
    height: 130px;
    background-color: rgb(75, 207, 157);
    padding:5px;
}
.header3{
    /* margin-top:-20px; */
    width: 30%;
    height: 270px;
    background-color: #800080;
    padding:5px;
    /* margin-bottom: -15%; */


}
.footer{
    /* margin-top:-20px; */
    width: 99%;
    height: 50px;
    background-color: rgb(225, 218, 231);
    padding:5px;
  }
  .container{
      display:flex;
      flex-direction:row;
      width: 99.8%;
  }
  .container1{
      width: 70%;
  }
  
  @media (max-width: 650px) {
    .container1{
        width:50%;
    }
    .header3{
        width:50%;
    }
  }
  @media (max-width: 450px){
    .container{
        display:flex;
        flex-direction:column;
        width: 100%;
    }
    .header3{
        width: 100%;
        height: 130px;
    }
    .container1{
        width:100%
        
    }
  }