.header{
    width: 99%;
    height: 50px;
    background-color:#ffc0cb;
    padding: 5px;
}
.container1{
    width:99%;
    height: 280px;
    background-color:#7fffd4;
    padding:5px;
    order: 2;
}
.container2{
    width:50%;
    height: 280px;
    background-color:#ff1493;
    padding:5px;
    order: 1;
}
.container3{
    width:50%;
    height: 280px;
    background-color:#8a2be2;
    padding:5px;
    order: 3;
}
.footer{
    width: 99%;
    height: 50px;
    background-color:#ffc0cb;
    padding: 5px;
}
.merge{
    display: flex;
    flex-direction: row;
     width:100%;
}
@media (max-width:650px){
    .container1{
        width: 100%;
        height: 200px;
        order: 2;
        grid-column: 1/4;
        grid-row: 1/2;
        
    }
    .container2{
        width: 200%;
        height: 100px;
        order: 1;
        grid-row: 2/3;;
    }
    .container3{
        width: 200%;
        height: 100px;
        order: 3;
        top:60px;
        grid-row: 2/4;
        
    }
    .merge{
        width: 100%;
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-rows:200px 50px 50px;
    }
    
}
@media (max-width:400px){
    .merge{
        display:flex;
        flex-direction: column;
    }
    .container1{
        height: 200px;
        order: 1;
    }
    .container2{
        width: 200%;
        height: 100px;
        order: 2;
    }
    .container3{
        width: 200%;
        height: 100px;
        order: 3;
    }
      
}